# dependencies
node_modules
.pnp
.pnp.js

# builds
dist
.next
build
target

# turbo
.turbo

# env
.env
.env.local
.env.*.local

# misc
.DS_Store
*.pem
*.log

# python
__pycache__
*.py[cod]
*.egg-info
.venv
venv

# java
*.class
*.jar
